<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="username" value="MathiJohn"></parameter>
<parameter name="password" value="Mohan@1612"></parameter>
<parameter name="checkInDate" value="12/12/2020"></parameter>
<parameter name="checkOutDate" value="24/12/2020"></parameter>
<parameter name="FName" value="Mohan"></parameter>


  <test thread-count="5" name="Test">
    <classes>
      <class name="org.demotestng.HostelBookingUsingTestngParameter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
